@font-face {
 font-family: Roboto-Regular;
 src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}


html {
 scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
 /* width: 1920px; */
 margin: 0 auto;
 font-family: Roboto-Regular;
}


/* --------------------------------------------------header-------------------------------------------------------- */

.foot, .header-container {
 background: black;
 height: 10vh;
 display: flex;
 justify-content: space-between;
 align-items: center;
 color: white;
}

.img-bird {
  padding-left: 2em;
  height: 7vh;
  transition: 0.3s;
}

.main-menu {
 display: flex;
 justify-content: space-between;
 list-style: none;
}

.link {
 padding: 0 2em 0 0;
 font-size: 1.2vw;
 text-decoration: none;
 color: white;
}

/* --------------------------------------------------main-------------------------------------------------------- */

.main-container {
 background-image: url('./assets/img/forest.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 80vh;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
}
.btn-video {
 position: absolute;
 background: transparent;
 background-image: url('./assets/svg/play.svg');
 background-repeat: no-repeat;
 background-size: auto 20vh;
 cursor: pointer;
 border: 0;
 width: 20vh;
 height: 20vh;
 transition: 0.3s;
}
.btn-video:hover {
 filter: invert(26%) sepia(7%) saturate(300%) hue-rotate(9deg) brightness(98%)
    contrast(87%);
}

/* --------------------------------------------------footer-------------------------------------------------------- */

.footer-leftside {
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 1.2vw;
 padding: 0 0 0 2em;
}
.year {
 padding: 0 2em 0 0;
}

.gh {
 text-decoration: none;
 color: white;
 font-size: 1.2vw;
 padding: 0 2em 0 0;
 transition: 0.3s;
}

.img-rss {
  padding-right: 2em;
  height: 5vh;
  transition: 0.3s;
}
.img-rss:hover, .gh:hover, .link:hover, .img-bird:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}